.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  background-color: #ffffff;
}

/* Layout with sidebar and main content */
.main-layout {
  display: flex;
  flex: 1;
  height: calc(100vh - 70px);
}

/* Content Area */
.content-area {
  flex: 1;
  padding: 2em;
  background-color: #faf9f8;
  overflow-y: auto;
}

/* Night mode */
.app-container.night {
  background-color: #121212;
  color: white;
}

.app-container.night .sidebar {
  background-color: #1f1f1f;
}

.app-container.night .content-area {
  background-color: #181818;
}

.dashboard {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3em;
  box-shadow: 0 5px 15px rgba(119, 81, 165, 0.1);
}

.dashboard h1 {
  font-size: 2rem;
  color: #4c3270;
  margin-bottom: 1em;
}

.dashboard p {
  /* color: #555; */
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.explore-btn {
  background-color: rgb(134, 49, 0);
  color: white;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: rgb(155, 60, 0);
}
