.dashboard {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3em;
  box-shadow: 0 5px 15px rgba(119, 81, 165, 0.1);
}

.dashboard h1 {
  font-size: 2rem;
  color: #4c3270;
  margin-bottom: 1em;
}

.dashboard p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.explore-btn {
  background-color: rgb(134, 49, 0);
  color: white;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: rgb(155, 60, 0);
}
