.navbar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgba(119, 81, 165, 0.4);
    padding:15px 7%;


}

.logo{
    width:160px;
    cursor:pointer;
}
ul{
    flex:1;
    list-style:none;
    text-align:center;

}
ul a{
    display:inline-block;
    margin:10px 20px;
    font-size:18px;
    cursor:pointer;

}

.toggle-icon{
    width:50px;
    cursor:pointer;
     margin-left:40px;
}