@import "tailwindcss";
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

html,body{
  height:100vh;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  color:#283544;
}
.main{
  display:flex;
  height:100vh

}

.navcontainer{
width:100vw;
min-height:100vh;


}
